@media only screen and (min-width: 1025px) {
    header,
    main,
    .allowance,
    footer {
        max-width: 1400px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 100px auto auto;
    }

    header span {
        font-size: 1.5rem;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        grid-column: 3/4;
    }

    .navigation ul {
        display: flex;
        justify-content: end;
        padding-top: 25px;
        margin-right: 50px;
    }

    .navigation a {
        border: none;
    }

    .grid-view {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        background-color: #E8E8E8;
        padding: 20px;
        border-top: 1px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .socialmedia a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 1px solid #ccc;
        border-radius: 22px;
    }

    .socialmedia img {
        width: 30px;
        height: 30px;
    }


    /* Home Page */
    .cta-button {
        right: 44.5%;
        top: 7%;
        padding: 10px 20px;
        border: none;
        text-decoration: none;
        font-size: 18px;
    }

    .sub-main {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 20px;
    }

    /* Join Us Page */
    .joinmain-container {
        grid-template-columns: 1fr 1fr;
    }

    .form-container {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .membership-cards {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
   .picture-gallery {
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 0 20px;
   }

    .cardDiv figure img:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    }
}