@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 1500px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 100px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

.grid-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* main {
        display: grid;
        grid-template-columns: 1fr minmax(300px, 510px);
        gap: 25px;
    } */

h1 {
    grid-column: 1/3;
    margin: 0;
}

/* .about-me {
        grid-column: 1 / 2;
    }

    .photo {
        grid-column: 2 / 3;
    } */

/* .certificate {
        grid-column: 1 / 3;
    }

    .course-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    } */

    footer {
        background-color: #E8E8E8;
        padding: 20px;
        border-top: 1px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .socialmedia a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 1px solid #ccc;
        border-radius: 22px;
    }

    .socialmedia img {
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 767px) and (min-width: 481px) {
    .grid-view {
        grid-template-columns: 1fr 1fr;
    }

    .member-card img {
        height: 120px;
    }

    .member-card h2 {
        font-size: 16px;
    }

    .member-card p {
        font-size: 12px;
    }
}