:root {
    --primary-color: #9D0404;
    --secondary-color: #e1dfdf;
    --accent1-color: #F5F5F5;
    --accent2-color: #0c0478;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Lato", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
}

header {
    display: grid;
    grid-template-columns: 100px auto 44px;
    padding: 5px 0 5px 10px;
    background-color: var(--accent1-color);
    box-shadow: 5px 5px 10px grey;
}

header img {
    display: block;
    grid-column: 1/2;
    width: 80%;
    height: auto;
    margin: 10px 5px 10px 20px;
}

header span {
    color: var(--accent2-color);
    grid-column: 2/3;
    margin-left: 15px;
    height: 50px;
    margin-top: 39px;
    font-weight: bolder;
    font-size: 1.3rem;
}

.hamburger {
    background: none;
    border: none;
    color: rgb(119, 10, 10);
    cursor: pointer;
    font-size: 2rem;
    font-family: var(--body-font);
    font-weight: bold;
    grid-column: 3/4;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* Navigation */
.navigation {
    display: none;
    grid-column: 1/4;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.navigation a:hover {
    background-color: #dcd7d7;
    font-weight: 1000;
    text-decoration: overline;
}

.navigation li.current {
    background-color: #fce5e5;
}

.navigation li.current a {
    color: #000;
    font-weight: 1000;
}

.allowance {
    height: 30px;
    background-color: var(--accent2-color);
    border-radius: 7px;
}

/* Main */
h1,
span {
    font-family: var(--heading-font);
}

h1 {
    color: var(--primary-color);
    margin-top: 20px;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding: 8px 15px;
    background: linear-gradient(#012b72, #012b72);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.member-card h2 {
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #E8E8E8;
    padding: 20px;
    text-align: left;
    border-top: 1px solid black;
}

.address {
    text-align: left;
}

.socialmedia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.socialmedia a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.socialmedia img {
    width: 45px;
    height: 45px;
}

.socialmedia a:hover {
    background-color: #ddd;
}


/* ............... Members Css ...................... */
main {
    padding: 20px;
    border: 1px solid #ddd;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.menu button {
    width: 80px;
    height: 40px;
    font-size: 17px;
    cursor: pointer;
    background: linear-gradient(#012b72, rgb(4, 67, 4));
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.menu button:hover {
    background: rgb(4, 67, 4);
}

.spotlight-card,
.member-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 380px;
    overflow: hidden;
    background-color: #f3f8f8;
}

.spotlight-card {
    height: 360px;
    padding: 0;
}

.member-card img {
    margin-bottom: 20px;
    width: 60%;
    height: 43%;
    border-radius: 10px 10px 0 0;
}

.spotlight-card img {
    margin-bottom: 20px;
    width: 55%;
    height: 35%;
    border-radius: 10px 10px 0 0;
}

p {
    font-size: 19px;
    color: black;
}

.spotlights {
    margin-top: 20px;
}

.spotlight-card p:nth-child(2) {
    margin-bottom: 12px;
    font-style: italic;
    color: darkred;
    font-weight: bolder;
    text-align: center;
}

.spotlight-card h2 {
    width: 500px;
    border-radius: 10px 0 0;
    border: 1px solid black;
    background-color: white;
}

.spotlight-card p:last-child,
.member-card p:last-child {
    margin-top: 15px;
    color: rgb(54, 46, 1);
    font-weight: lighter;
}

.spotlight-card p:last-child {
    padding-bottom: 20px;
}

.spotlights,
.grid-view {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    text-align: center;
}

table tbody tr td:nth-child(5) {
    text-align: center;
}

/* Home Page */
.moto {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    padding: 3px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    margin: 0;
}

.cta-button {
    position: absolute;
    right: 40%;
    bottom: 80%;
    background-color: rgb(2, 69, 2);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: rgb(8, 102, 8);
    transform: scale(1.05);
}

.current-events {
    grid-column: 1/2;
    font-size: 1.1rem;
    text-decoration: none;
}

.current-events ul {
    list-style: none;
    line-height: 2rem;
}

.current-events ul li {
    padding-left: 15px;
}

.weather {
    grid-column: 2/3;
}

.sub-main h2 {
    background: black;
    opacity: 0.9;
}

.forecast {
    grid-column: 3/4;
}

#forecast-container {
    margin-left: 50px;
    line-height: 2rem;
    font-size: 18px;
}

.current-events,
.weather,
.forecast {
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
    background-color: rgb(210, 210, 226);
}

#current-weather {
    display: grid;
    grid-template-columns: 1fr 2fr;
    line-height: 1.7rem;
    border-radius: 10px;
}

#current-weather img {
    margin-left: 15px;
}

#description {
    text-transform: capitalize;
}

#weather-indicator {
    margin-left: 10px;
}